1.write a sql query to return unique records from a table without using Distinct or GroupBy


WITH RankedRecords AS (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY first_name) AS rn
    FROM 
        Customers
)
SELECT 
    customer_id, first_name, last_name
FROM 
    RankedRecords
WHERE 
    rn = 1;




SELECT DISTINCT first_name FROM Customers;

#second highest salary

SELECT name, salary  
FROM employee  
WHERE salary = (  
    SELECT MAX(salary)  
    FROM employee  
    WHERE salary < (SELECT MAX(salary) FROM employee)  
);

2.write a query to find the maximum paid amount  from a customer table?

SELECT MAX(age) as highest_amount
FROM Customers
GROUP BY age;

3.Explain the difference between Left join, Right Join, Inner join in sql ?



1. LEFT JOIN (or LEFT OUTER JOIN)

A LEFT JOIN returns all records from the left table (Table A), and the matched records from the right table (Table B). If there is no match, the result is NULL on the side of the right table.

Example:

SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;

Result: All rows from Table A, and matched rows from Table B. Unmatched rows from Table B will have NULL values.
2. RIGHT JOIN (or RIGHT OUTER JOIN)

A RIGHT JOIN returns all records from the right table (Table B), and the matched records from the left table (Table A). If there is no match, the result is NULL on the side of the left table.

Example:

SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;

Result: All rows from Table B, and matched rows from Table A. Unmatched rows from Table A will have NULL values.
3. INNER JOIN

An INNER JOIN returns only the records that have matching values in both tables. It excludes rows that do not have matches in both tables.

Example:

SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;

Result: Only rows where there is a match in both Table A and Table B.
Summary
LEFT JOIN: All rows from the left table, matched rows from the right table, NULL for unmatched rows from the right table.
RIGHT JOIN: All rows from the right table, matched rows from the left table, NULL for unmatched rows from the left table.
INNER JOIN: Only rows with matches in both tables.


4. FULL JOIN

full join or full outer join that combines all records from two tables, regardless of whether they have matching values in the specified column. if there is a match the rows are merged. if there is no match null values are used to fill.

SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
FULL OUTER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;


5. CROSS JOIN

In SQL, the CROSS JOIN is a unique join operation that returns the Cartesian product of two or more tables. This means it matches each row from the left table with every row from the right table, resulting in a combination of all possible pairs of records. (3*4=12)

SELECT * FROM table1
CROSS JOIN table2;


6. SELF JOIN

A self join in SQL is a join in which a table is joined with itself. This can be useful for comparing rows within the same table.

select a.first_name, b.last_name
from customers a
join customers b
on a.customer_id=b.customer_id;

In [ ]:
#1. How do you reverse a string in python without using slicing?


str = "hello"
res=""

for i in str:
    res=i+res
print(res)


res=str[::-1]
print(res)


res=''.join(reversed(str))
print(res)



#------------------------------


a = ['10', '20', '4', '45', '99']
a1 = [10, 20, 4, 45, 99]


res=a[::-1] #or a1[::-1]

res=list(reversed(a)) # or res=list(reversed(a1))

a.reverse() # or a1.reverse()

In [83]:
#2.how would you find the second largest number in a list without sorting it?

a = [10, 20, 40, 45, 99]

res=sorted(set(a))
res[-2]


largest = second_largest = float('-inf')

for num in a:
    if num > largest:
        second_largest, largest = largest, num

    elif num > second_largest and num != largest:
        second_largest = num

print(largest)
print(second_largest)

99
45

In [ ]:
#filling missing values (fillna method)

import pandas as pd

df = pd.read_csv('data.csv')

newdf = df.fillna(222222)

print(newdf.to_string()) #Note that we use the to_string() method to return the entire DataFrame.

In [134]:
import pandas as pd

data = {'Item': ['APPLE', 'banana', 'orange'],'Quantity': [10, 20, 30],'Price': [0.5, 0.3, 0.7]}
df = pd.DataFrame(data)
total=[]
for index, row in df.iterrows():
    total.append(row['Quantity'] * row['Price'])
df['total'] = total
df

     Item  Quantity  Price  total
0   APPLE        10    0.5    5.0
1  banana        20    0.3    6.0
2  orange        30    0.7   21.0

In [ ]:
#iterating through each row in the dataframes & to capitalise one particular column

import pandas as pd

data = {'Item': ['APPLE', 'banana', 'orange'],'Quantity': [10, 20, 30],'Price': [0.5, 0.3, 0.7]}
df = pd.DataFrame(data)
for index, row in df.iterrows():
    total_sales = row['Quantity'] * row['Price']


df["Item"]=df["Item"].apply(lambda x:x.capitalize())
df["Item"]=df["Item"].str.lower()
print(df)

In [ ]:
#how code is optimised if need to handle large data set


1. Efficient Data Structures
 
Use Pandas wisely:
 
Use pandas.read_csv() with options like dtype, usecols, and chunksize to control memory usage.
 
Use DataFrame.astype() to downcast numeric columns (e.g., float64 → float32).
 
 
Numpy Arrays: Use NumPy arrays for numeric computations instead of Python lists.
 
Generators: Use generators instead of lists for iterating through large datasets to avoid loading everything into memory at once.
 
 
 
---
 
2. Chunking and Parallel Processing
 
Chunk Loading: Read and process the dataset in chunks (e.g., using pandas.read_csv(chunksize=...)) to reduce memory footprint.
 
Parallel Processing: Use libraries like:
 
multiprocessing for parallel execution.
 
joblib for parallel loops.
 
dask to parallelize Pandas operations and manage computations across multiple cores.
 
 
 
 
---
 
3. Memory Management
 
Garbage Collection: Explicitly invoke garbage collection with gc.collect() when processing large datasets.
 
Memory Profiler: Use tools like memory_profiler or tracemalloc to identify memory bottlenecks.
 
Delete Unused Variables: Use del to free memory for variables no longer in use.
 
 
 
---
 
4. Optimize File Formats
 
Use efficient file formats such as:
 
HDF5: pandas.HDFStore for storing large datasets efficiently.
 
Parquet: Optimized for reading/writing tabular data with tools like pandas.read_parquet.
 
 
 
 
---
 
5. Algorithmic Optimization
 
Avoid Loops: Replace Python loops with vectorized operations in NumPy or Pandas.
 
Efficient Sorting/Filtering: Use built-in sorting and filtering functions instead of custom logic.
 
Sparse Matrices: Use sparse matrix representations for datasets with many zeros (e.g., scipy.sparse).
 
 
 
---
 
6. Streaming and Lazy Evaluation
 
Use libraries like Dask or PySpark for streaming data and lazy evaluation, enabling operations on datasets that don't fit in memory.
 
 
 
---
 
7. Profiling Tools
 
Use profiling tools to identify bottlenecks:
 
cProfile or line_profiler: For function-level profiling.
 
memory_profiler: For memory usage analysis.
 
 
 
 
---
 
8. Database Usage
 
For extremely large datasets, consider using databases:
 
SQL Databases: Use SQL queries for filtering and aggregating large datasets.
 
NoSQL Databases: For unstructured data, tools like MongoDB or Apache Cassandra can be helpful.

In [132]:
#drop vs delete vs truncate

import pandas as pd
data=pd.read_excel(r"C:\Users\2012171\Downloads\Book1.xlsx")

pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None)  
pd.set_option('display.width', None) 

print(data)

          Parameter                                         DELETE  \
0              Type                                            DML
1           Purpose       Deletes specific rows based on condition
2            Syntax        DELETE FROM table_name WHERE condition;
3  Rollback Support                                Can be Rollback
4      Data Removal                          Removes selected rows
5        Efficiency  Slower, as each row is processed individually
6          Triggers                                 Fires triggers

                                   DROP  \
0                                   DDL
1  Deletes the entire table or database
2                DROP TABLE table_name;
3                    Cannot be Rollback
4     Removes table and data completely
5     Instant removal, affecting schema
6                Does not fire triggers

                                       TRUNCATE
0                                           DDL
1  Deletes all rows but retains table structure
2                    TRUNCATE TABLE table_name;
3                            Cannot be Rollback
4                              Removes all rows
5       Faster than DELETE but slower than DROP
6                        Does not fire triggers

In [137]:
#replace string after whitespace

str="hello "
res=str.replace(" "," "+ str)
res=str.replace(" ","")
res

'hello'

In [ ]:
#Where clause vs Alias vs Blob

1. Alias (Aliases are used to give a table, or a column in a table, a temporary name.

Aliases are often used to make column names more readable.

An alias only exists for the duration of that query.

An alias is created with the AS keyword)


 select first_name as name from customers;


2. Where (The WHERE clause is used to filter records.)

SELECT column1, column2, ...
FROM table_name
WHERE condition;


3. A BLOB (Binary Large Object) is a data type in MySQL that allows you to store large binary data such as images, audio, video, and other multimedia files. BLOBs are useful when you need to store and retrieve binary data in your database.

Types of BLOBs in MySQL

MySQL supports four types of BLOBs, each with different maximum lengths:

TINYBLOB: Maximum length of 255 bytes.

BLOB: Maximum length of 65,535 bytes.

MEDIUMBLOB: Maximum length of 16,777,215 bytes.

LONGBLOB: Maximum length of 4,294,967,295 bytes


CREATE TABLE images (
id INT PRIMARY KEY AUTO_INCREMENT,
title VARCHAR(255) NOT NULL,
image_data LONGBLOB NOT NULL
);

In [ ]:
#stored procedure in MySQL

A stored procedure is a prepared SQL code that you can save, so the code can be reused over and over again.

So if you have an SQL query that you write over and over again, save it as a stored procedure, and then just call it to execute it.

In [ ]:
#creating table in mysql

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

In [ ]:
#Tuple vs List vs Set in Python

Lists

Lists are ordered collections of items that are mutable, meaning you can change their content by adding, removing, or modifying elements. Lists can contain duplicate elements and are defined using square brackets [].

Example:

# Creating a list
my_list = [1, 2, 3, 4, 5]
print(my_list) # Output: [1, 2, 3, 4, 5]

# Modifying a list
my_list.append(6)
print(my_list) # Output: [1, 2, 3, 4, 5, 6]

my_list[0] = 0
print(my_list) # Output: [0, 2, 3, 4, 5, 6]
Lists are ideal for scenarios where you need an ordered collection of items that may change over time


---------------------------------------------------------------------------------------------------------------------------------------
Tuples

Tuples are similar to lists but are immutable, meaning once they are created, their content cannot be changed. Tuples can contain duplicate elements and are defined using parentheses ().

Example:

# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple) # Output: (1, 2, 3, 4, 5)

# Accessing elements in a tuple
print(my_tuple[0]) # Output: 1
Tuples are useful for storing fixed collections of items, such as coordinates or configuration settings



--------------------------------------------------------------------------------------------------------------------------------------
Sets

Sets are unordered collections of unique elements. They are mutable, meaning you can add or remove elements, but they do not allow duplicate elements. Sets are defined using curly braces {}.

Example:

# Creating a set
my_set = {1, 2, 3, 4, 5}
print(my_set) # Output: {1, 2, 3, 4, 5}

# Modifying a set
my_set.add(6)
print(my_set) # Output: {1, 2, 3, 4, 5, 6}

my_set.remove(1)
print(my_set) # Output: {2, 3, 4, 5, 6}
Sets are ideal for scenarios where you need to store unique elements and perform operations like union, intersection, and difference


------------------------------------------------------------------------------------------------------------------------
Key Differences

Mutability: Lists and sets are mutable, while tuples are immutable.

Order: Lists and tuples maintain the order of elements, while sets do not.

Duplicates: Lists and tuples allow duplicate elements, while sets do not
1

In [ ]:
#merging data frame values

In [1]:
import pandas as pd
 
df = pd.DataFrame({'First Name': ['John', 'Jane'], 'Last Name': ['Doe', 'Smith']})
df['Full Name'] = df['First Name'] + ' ' + df['Last Name']  
print(df)


df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
merged_df = pd.concat([df1, df2])
print(merged_df)


df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['John', 'Jane']})
df2 = pd.DataFrame({'ID': [1, 2], 'Age': [28, 34]})
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

  First Name Last Name   Full Name
0       John       Doe    John Doe
1       Jane     Smith  Jane Smith
   A  B
0  1  3
1  2  4
0  5  7
1  6  8
   ID  Name  Age
0   1  John   28
1   2  Jane   34

In [ ]:
#types of error

SyntaxError
Invalid Python code

IndentationError
Incorrect code structure

TypeError
Incompatible data types

AttributeError
Non-existent object attribute

ImportError
Missing or inaccessible module

ValueError
Inappropriate function value

IOError
Failed input/output operation

NameError
Undefined variable or function

IndexError
Out of range list index

KeyError
Non-existent dictionary key

In [ ]:
#Deep Copy vs Shallow Copy in Python

Shallow Copy

A shallow copy creates a new object, but it does not create copies of nested objects. Instead, it copies references to the nested objects. This means that changes to nested objects in the copied object will affect the original object and vice versa.

In [135]:
import copy

original_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
shallow_copied_list = copy.copy(original_list)

# Modifying the nested object in the original list
original_list[1][1] = 'AA'

print("Original List:", original_list)
print("Shallow Copied List:", shallow_copied_list)

Original List: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]
Shallow Copied List: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]

Deep Copy

A deep copy creates a new object and recursively copies all nested objects. This means that the original and copied objects are completely independent, and changes to one do not affect the other.

In [ ]:
import copy

original_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
deep_copied_list = copy.deepcopy(original_list)

# Modifying the nested object in the original list
original_list[1][1] = 'BB'

print("Original List:", original_list)
print("Deep Copied List:", deep_copied_list)

In [ ]:
#memory management

In Python, memory management involves two primary areas: heap memory and stack memory. Here's a breakdown of the differences:
 
1. Stack Memory:
 
Usage: The stack is used for static memory allocation, such as function calls and local variables.
 
Storage: It stores references to objects and local variables. When a function is called, its local variables are stored on the stack, and they are removed once the function returns.
 
Size: Stack memory is generally limited in size, and attempting to use too much stack space (e.g., with deep recursion) can lead to a stack overflow.
 
Lifetime: The lifetime of stack variables is tied to the scope in which they are created. They are automatically destroyed when the function scope ends.
 
 
2. Heap Memory:
 
Usage: The heap is used for dynamic memory allocation. Objects like lists, dictionaries, and user-defined objects (class instances) are stored here.
 
Storage: The heap stores objects that need to persist beyond the scope of the function that created them (i.e., globally or across function calls).
 
Size: The heap is much larger compared to the stack, and memory is allocated dynamically. It is managed by the Python runtime (specifically, the garbage collector).
 
Lifetime: The lifetime of objects in the heap is managed through reference counting and garbage collection. An object is only removed from the heap when there are no more references to it.
 
 
Key Differences:
 
In Python, objects (such as lists, dictionaries, and class instances) are stored in the heap, and variables that reference them are stored in the stack. For example:
 
def my_function():
    a = [1, 2, 3]  # 'a' is on the stack, list [1, 2, 3] is on the heap
    print(a)
 
my_function()
 
Here, the list [1, 2, 3] is stored in the heap, while the variable a is stored in the stack.

In [ ]:
#altering dictionary, merging

In [ ]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d1.update(d2)
print(d1)


d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d3 = {**d1, **d2}
print(d3)


d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d3 = d1.copy()
for key,value in d2.items():
    d3[key] = value
print(d3)

In [ ]:
#how exceptions are handled

In [127]:
try:
    # print("try")
    res=0/0
except Exception as e:
    print(e)
else:
    print("else")
finally:
    print("finally")

division by zero
finally

In [ ]:
#remove duplicates

In [116]:
listt=[10,20,30,30,40,50,50]
temp=[]
for item in listt:
    if item not in temp:
        temp.append(item)
print(temp)

temp=sorted(set(listt))
print(temp)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
#accessing dataframe values

In [1]:
import pandas as pd

# Create DataFrame
data = pd.DataFrame({
    "id": [7058, 7059, 7072, 7054],
    "name": ['sravan', 'jyothika', 'harsha', 'ramya'],
    "subjects": ['java', 'python', 'html/php', 'php/js']
})

print(data["id"].iloc[0])
print(data["name"].values[0])
print(data["subjects"].loc[data.index[0]])

7058
sravan
java

In [ ]:
#string operations, indexing

In [ ]:
str=" hello hello "
res=str.casefold()
res=str.lower()
res=str.upper()
res=str.count("hello")#2
res=str.endswith('h')#True
res=' '.join(str)#h e l l o   h e l l o
res=str.lstrip()#remove left side space
res=str.rstrip()#remove right side space
res=str.replace('h','l')
res=str.rfind("hello")#6th position from starting
res=str.split()#['hello', 'hello']
res=str.strip()#remove entire space in the string
res

In [121]:
#predict the o/p

def fun():
    print("hello")
a=fun()
print(a)

hello
None

In [122]:
#predict the o/p

a=10
b="hello"
c=a+b
c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#aggregate window function

Common Aggregate Window Functions include:

SUM()
AVG()
COUNT()
MAX()
MIN()

In [ ]:
#Common Table Expression (CTE) vs Sub-Query

In SQL, a Common Table Expression (CTE) is an essential tool for simplifying complex queries and making them more readable. By defining temporary result sets that can be referenced multiple times, a CTE in SQL allows developers to break down complicated logic into manageable parts. A Common Table Expression (CTE) in SQL is a temporary result set that is defined and used within the execution scope of a SELECT, INSERT, UPDATE, or DELETE statement.


WITH cte_name AS (
    SELECT query
)
SELECT *
FROM cte_name;


cte_name: A unique name for the CTE expression.
query: A valid SQL query that returns a result set, which will be treated as a virtual table within the main query.
SELECT: The main query that can reference the CTE by its name.

In SQL, a subquery can be defined as a query embedded within another query. It is often used in the WHERE, HAVING, or FROM clauses of a statement. Subqueries are commonly used with SELECT, UPDATE, INSERT, and DELETE statements to achieve complex filtering and data manipulation.

SELECT NAME, LOCATION, PHONE_NUMBER 
FROM DATABASE 
WHERE ROLL_NO IN (
SELECT ROLL_NO FROM STUDENT WHERE SECTION='A'
);

In [ ]:
#CHAR vs VARCHAR in SQL

Length Handling: CHAR: Fixed length, padded with spaces if shorter. VARCHAR: Variable length, no padding.

Storage Size: CHAR: Always uses the defined length. VARCHAR: Uses the actual length of the string plus additional bytes for length information^2^.

Performance: CHAR: Generally better performance due to fixed length. VARCHAR: Slightly less performant due to variable length^3^.

Use Cases: CHAR: Use when the length of data is consistent (e.g., country codes, fixed-length identifiers). VARCHAR: Use when the length of data varies (e.g., names, descriptions).